60_Sistemas/n8n/Workflows/FabioOS_WhatsApp_Pietra.json
{
  "name": "FabioOS - WhatsApp para Pietra",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-pietra-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e2ff66da-7891-4afe-9464-3ceea074a463",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-pietra-v2"
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados do payload da Evolution API\nconst input = $input.first().json;\nlet body = input.body || input;\n\nif (typeof body === 'string') {\n  try {\n    body = JSON.parse(body);\n  } catch (error) {\n    body = {};\n  }\n}\n\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\nconst instance = body.instance || data.instance || '';\nconst modoPessoal = instance === 'fabioos-pessoal';\n\nconst texto = msg.conversation\n  || msg.extendedTextMessage?.text\n  || '';\nconst textoLimpo = texto.trim();\n\nconst jid = key.remoteJid || '';\nconst isGroup = jid.endsWith('@g.us');\nconst numeroCompleto = jid.replace('@s.whatsapp.net', '').replace('@g.us', '');\nconst numeroAnon = '****' + numeroCompleto.slice(-4);\n\nconst nome = data.pushName || (modoPessoal ? 'Fabio' : 'Responsavel');\nconst timestamp = data.messageTimestamp || Math.floor(Date.now() / 1000);\nconst dataHora = new Date(timestamp * 1000).toISOString().replace('T', ' ').substring(0, 16);\nconst hoje = new Date(timestamp * 1000).toISOString().split('T')[0];\nconst anoMes = hoje.substring(0, 7);\n\nif (isGroup) {\n  return [{ json: { ignorar: true, motivo: 'grupo_nao_suportado' } }];\n}\n\nif (key.fromMe && !modoPessoal) {\n  return [{ json: { ignorar: true, motivo: 'mensagem_enviada_pelo_numero' } }];\n}\n\nif (!textoLimpo) {\n  return [{ json: { ignorar: true, motivo: 'sem_texto' } }];\n}\n\nconst messageId = `wa-${timestamp}-${numeroCompleto.slice(-4)}-${Math.random().toString(36).slice(2, 7)}`;\n\nreturn [{\n  json: {\n    texto: textoLimpo,\n    numeroAnon,\n    numeroCompleto,\n    fromMe: !!key.fromMe,\n    nome,\n    instance,\n    modo: modoPessoal ? 'pessoal' : 'escola',\n    dataHora,\n    hoje,\n    anoMes,\n    messageId,\n    logFilename: modoPessoal ? `WHATSAPP_PESSOAL_${anoMes}_LOG.md` : `PIETRA_${anoMes}_LOG.md`,\n    ignorar: false\n  }\n}];"
      },
      "id": "w2b3c4d5-e6f7-8901-bcde-222222222222",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ignorar }}",
              "value2": true
            }
          ]
        }
      },
      "id": "w2b3c4d5-e6f7-8901-bcde-333333333333",
      "name": "Ignorar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "modo-pessoal",
              "leftValue": "={{ $json.modo }}",
              "rightValue": "pessoal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "w8b9c0d1-e2f3-4567-89ab-999999999999",
      "name": "Modo Pessoal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3847/integrations/whatsapp/personal/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": {{ JSON.stringify($json.messageId) }},\n  \"conversationId\": {{ JSON.stringify($json.numeroAnon) }},\n  \"contactName\": {{ JSON.stringify($json.nome) }},\n  \"from\": {{ JSON.stringify($json.numeroCompleto) }},\n  \"direction\": {{ JSON.stringify($json.fromMe ? 'outgoing' : 'incoming') }},\n  \"text\": {{ JSON.stringify($json.texto) }},\n  \"timestamp\": {{ JSON.stringify(new Date().toISOString()) }},\n  \"source\": \"whatsapp\",\n  \"provider\": \"evolution_api\"\n}",
        "options": {}
      },
      "id": "w9c0d1e2-f3a4-5678-9abc-aaaaaaaaaaaa",
      "name": "Hermes -> Agentarium",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3847/integrations/whatsapp/connected",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"channel\":\"personal\"}",
        "options": {}
      },
      "id": "w9c0d1e2-f3a4-5678-9abc-bbbbbbbbbbbb",
      "name": "Marcar Personal Conectado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'hermes', jobId: $('Hermes -> Agentarium').item.json.jobId, isCommand: $('Hermes -> Agentarium').item.json.isCommand, replyToFabio: $('Hermes -> Agentarium').item.json.replyToFabio, sentToFabio: $('Hermes -> Agentarium').item.json.sentToFabio, deliveryError: $('Hermes -> Agentarium').item.json.deliveryError, chatSource: $('Hermes -> Agentarium').item.json.chatSource, autoSend: $('Hermes -> Agentarium').item.json.autoSend }) }}"
      },
      "id": "w9c0d1e2-f3a4-5678-9abc-cccccccccccc",
      "name": "Responder Hermes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3847/integrations/whatsapp/school/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": {{ JSON.stringify($json.messageId) }},\n  \"conversationId\": {{ JSON.stringify($json.numeroAnon) }},\n  \"contactName\": {{ JSON.stringify($json.nome) }},\n  \"from\": {{ JSON.stringify($json.numeroCompleto) }},\n  \"direction\": \"incoming\",\n  \"text\": {{ JSON.stringify($json.texto) }},\n  \"timestamp\": {{ JSON.stringify(new Date().toISOString()) }},\n  \"source\": \"whatsapp\",\n  \"provider\": \"evolution_api\"\n}",
        "options": {}
      },
      "id": "w9c0d1e2-f3a4-5678-9abc-dddddddddddd",
      "name": "Pietra -> Agentarium",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "jsCode": "// Classificar intent da mensagem com base nas palavras-gatilho do Pietra\nconst texto = $json.texto.toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\nconst categorias = [\n  { nome: 'ocorrencia', nivel: 'alto', escalonar: true, gatilhos: ['ocorrencia', 'suspensao', 'briga', 'conflito', 'bullying', 'agressao', 'ameaca', 'assedio', 'disciplinar', 'expulsao'], resposta_key: 'OCORRENCIA_ESCALONAMENTO' },\n  { nome: 'financeiro', nivel: 'alto', escalonar: false, gatilhos: ['mensalidade', 'boleto', 'pagamento', 'atraso', 'debito', 'vencimento', 'inadimplente', 'bolsa'], resposta_key: 'FINANCEIRO_REDIRECIONAMENTO' },\n  { nome: 'matricula', nivel: 'medio', escalonar: false, gatilhos: ['matricula', 'rematricula', 'inscricao', 'vaga', 'novo aluno'], resposta_key: 'MATRICULA_INFO' },\n  { nome: 'segunda_chamada', nivel: 'medio', escalonar: false, gatilhos: ['segunda chamada', 'faltou na prova', 'atestado', 'justificativa de falta'], resposta_key: 'SEGUNDA_CHAMADA_PROCEDIMENTO' },\n  { nome: 'prova', nivel: 'medio', escalonar: false, gatilhos: ['prova', 'avaliacao', 'simulado', 'recuperacao', 'nota', 'gabarito'], resposta_key: 'PROVA_DATA_CONTEUDO' },\n  { nome: 'coordenacao', nivel: 'medio', escalonar: false, gatilhos: ['coordenacao', 'coordenador', 'reuniao', 'reclamacao'], resposta_key: 'COORDENACAO_AGENDAMENTO' },\n  { nome: 'secretaria', nivel: 'medio', escalonar: false, gatilhos: ['declaracao', 'historico', 'documento', 'transferencia'], resposta_key: 'SECRETARIA_DOCUMENTOS' },\n  { nome: 'duvida_pedagogica', nivel: 'medio', escalonar: false, gatilhos: ['dificuldade', 'reforco', 'laudo', 'necessidade especial'], resposta_key: 'PEDAGOGICO_REDIRECIONAMENTO' },\n  { nome: 'professor', nivel: 'baixo', escalonar: false, gatilhos: ['professor', 'prof ', 'contato do professor'], resposta_key: 'PROFESSOR_CONTATO' },\n  { nome: 'material', nivel: 'baixo', escalonar: false, gatilhos: ['lista de material', 'livro', 'apostila', 'uniforme'], resposta_key: 'MATERIAL_LISTA' },\n  { nome: 'horario', nivel: 'baixo', escalonar: false, gatilhos: ['horario', 'feriado', 'recesso'], resposta_key: 'HORARIO_INFO' }\n];\n\nlet melhorCategoria = null;\nlet melhorPontuacao = 0;\nfor (const cat of categorias) {\n  let pontos = 0;\n  for (const gatilho of cat.gatilhos) {\n    if (texto.includes(gatilho)) pontos++;\n  }\n  if (pontos > melhorPontuacao) {\n    melhorPontuacao = pontos;\n    melhorCategoria = cat;\n  }\n}\nif (!melhorCategoria || melhorPontuacao === 0) {\n  melhorCategoria = { nome: 'nao_classificada', nivel: 'medio', escalonar: false, resposta_key: 'NAO_CLASSIFICADO' };\n}\nconst palavrasRisco = ['advogado', 'procon', 'processo', 'abuso', 'violencia'];\nconst temRisco = palavrasRisco.some(p => texto.includes(p));\nif (temRisco) melhorCategoria.escalonar = true;\n\nconst extrair = $('Extrair Dados').item.json;\nreturn [{\n  json: {\n    ...extrair,\n    agentariumJobId: $('Pietra -> Agentarium').item.json.jobId,\n    categoria: melhorCategoria.nome,\n    nivel: melhorCategoria.nivel,\n    escalonar: melhorCategoria.escalonar || temRisco,\n    resposta_key: melhorCategoria.resposta_key,\n    pontuacao: melhorPontuacao\n  }\n}];"
      },
      "id": "w3c4d5e6-f7a8-9012-cdef-444444444444",
      "name": "Classificar Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst acao = d.escalonar ? 'escalada' : 'sugestao_preparada';\nconst logLinha = `| ${d.dataHora} | WhatsApp | ${d.numeroAnon} | ${d.categoria} | ${d.nivel} | ${acao} | pendente |\\n`;\nconst notificacao = [\n  `[PIETRA] Nova mensagem recebida`,\n  `Canal: WhatsApp | Numero: ${d.numeroAnon}`,\n  `Categoria: ${d.categoria} | Nivel: ${d.nivel}`,\n  d.escalonar ? 'ESCALONAMENTO OBRIGATORIO' : '',\n  ``,\n  `Mensagem: \"${d.texto}\"`,\n  ``,\n  d.agentariumJobId ? `Agentarium job: ${d.agentariumJobId}` : ''\n].filter(Boolean).join('\\n');\nreturn [{ json: { ...d, logLinha, notificacao, acao } }];"
      },
      "id": "w4d5e6f7-a8b9-0123-defa-555555555555",
      "name": "Montar Log e Notificacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://host.docker.internal:27124/vault/05_Raw_Sources/_compat_sources/_inbox/{{ $json.logFilename }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.logLinha }}",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "w5e6f7a8-b9c0-1234-efab-666666666666",
      "name": "Salvar Log no Vault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "obsidian-api",
          "name": "Obsidian API Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: $('Classificar Intent').item.json.escalonar ? 'escalado' : 'ok', categoria: $('Classificar Intent').item.json.categoria, nivel: $('Classificar Intent').item.json.nivel, acao: $('Montar Log e Notificacao').item.json.acao, agentariumJobId: $('Pietra -> Agentarium').item.json.jobId }) }}"
      },
      "id": "w6f7a8b9-c0d1-2345-fabc-777777777777",
      "name": "Responder Escola",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ignorado\", \"motivo\": \"{{ $('Extrair Dados').item.json.motivo }}\"}"
      },
      "id": "w7a8b9c0-d1e2-3456-abcd-888888888888",
      "name": "Responder Ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 520]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [[{ "node": "Extrair Dados", "type": "main", "index": 0 }]]
    },
    "Extrair Dados": {
      "main": [[{ "node": "Ignorar?", "type": "main", "index": 0 }]]
    },
    "Ignorar?": {
      "main": [
        [{ "node": "Responder Ignorado", "type": "main", "index": 0 }],
        [{ "node": "Modo Pessoal?", "type": "main", "index": 0 }]
      ]
    },
    "Modo Pessoal?": {
      "main": [
        [{ "node": "Hermes -> Agentarium", "type": "main", "index": 0 }],
        [{ "node": "Pietra -> Agentarium", "type": "main", "index": 0 }]
      ]
    },
    "Hermes -> Agentarium": {
      "main": [[{ "node": "Marcar Personal Conectado", "type": "main", "index": 0 }]]
    },
    "Marcar Personal Conectado": {
      "main": [[{ "node": "Responder Hermes", "type": "main", "index": 0 }]]
    },
    "Pietra -> Agentarium": {
      "main": [[{ "node": "Classificar Intent", "type": "main", "index": 0 }]]
    },
    "Classificar Intent": {
      "main": [[{ "node": "Montar Log e Notificacao", "type": "main", "index": 0 }]]
    },
    "Montar Log e Notificacao": {
      "main": [[{ "node": "Salvar Log no Vault", "type": "main", "index": 0 }]]
    },
    "Salvar Log no Vault": {
      "main": [[{ "node": "Responder Escola", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "fabios" }
}
