60_Sistemas/n8n/Workflows/FabioOS_Webhook_Inbox.json
{
  "name": "FabioOS - Webhook para Inbox",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fabios-inbox",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fabios-inbox"
    },
    {
      "parameters": {
        "jsCode": "// Gerar filename e conteúdo da nota para sources/_inbox/\nconst data = $input.first().json;\nconst titulo = (data.titulo || 'sem-titulo').trim();\nconst conteudo = (data.conteudo || '').trim();\nconst tipo = data.tipo || 'texto';\nconst origem = data.origem || 'webhook';\n\n// Data atual no formato YYYY-MM-DD\nconst hoje = new Date().toISOString().split('T')[0];\n\n// Gerar slug sem acentos\nconst slug = titulo\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 60);\n\nconst filename = `${hoje}_${slug}.md`;\n\n// Montar frontmatter e conteúdo\nconst markdown = [\n  '---',\n  'tipo: fonte',\n  `origem: ${origem}`,\n  'status: bruto',\n  `tags: [inbox, ${tipo}]`,\n  `capturado_em: ${hoje}`,\n  '---',\n  '',\n  `# ${titulo}`,\n  '',\n  conteudo,\n  ''\n].join('\\n');\n\nreturn [{\n  json: { filename, markdown, titulo, hoje }\n}];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Gerar Nota",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://host.docker.internal:27124/vault/sources/_inbox/{{ $json.filename }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.markdown }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Salvar no Vault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "obsidian-api",
          "name": "Obsidian API Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', arquivo: $('Gerar Nota').item.json.filename, mensagem: 'Nota criada em sources/_inbox/' }) }}"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gerar Nota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Nota": {
      "main": [
        [
          {
            "node": "Salvar no Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Vault": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "fabios"
  }
}
